<div class="container">
  <h2 class="my-4">users_all_notice</h2>
  <% unless @items.blank? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">作業日</th>
          <th scope="col">点検対象</th>
          <th scope="col">項目</th>
          <th scope="col">作業済み</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <th scope="row"><%= item.do_day %></th>
            <td><%= item.inspection.name %></td>
            <td><%= item.name %></td>
            <td><%= item.doing %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3 class="text-center mt-5"> 予定している通知はありません </h3>
  <% end %>
</div>
