<p><%= @resource.name %>様</p>
<br>
<p>パスワードを変更するためのリンクをリクエストされました。以下のリンクから行うことができます。</p>
<p><%= link_to "パスワードの再設定", edit_password_url(@resource, reset_password_token: @token) %></p>
<p>パスワード再設定の依頼をしていない場合、このメールを無視してください。</p>
<p>パスワードの再設定は、上のリンクから新しいパスワードを登録するまで完了しません。</p>
<br>
<p>このサイトにログインするには、<%= link_to "点検checker", @root_url %>をクリックしてください。</p>
<p>点検checker事務局</p>
