<div class="container mt-5 text-center">
  <div class="card">
    <p class="confirm-lead">点検チェッカーをご使用いただきありがとうございます</p>
    <p class="confirm-lead">使用していて何かご不明な点、ご不便な点がございましたら</p>
    <p class="confirm-lead">ご一報ございますと幸いです。</p>
    <h6 class="my-5 fw-bold">お問い合わせ</h6>
    <p class="lead">email: tenkenchecker@gmail.com</p>
  </div>
</div>