<% if resource.present? && resource.errors.any? %>
  <div class="alert alert-danger" id="alert-box" role="alert">
    <div id="error_explanation">
      <h4 class="alert-danger">以下の点についてご確認ください</h4>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
