// common_styles
* {
  outline: 0;
  margin: 0;
  padding: 0;
}
html {
  background-color: #F7F7F7;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

p {
  font-size: 12px;
  color: #252525;
  font-weight: 400;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  color: #252525;
  margin-top: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
}

a {
  color: #131313;
  text-decoration: none !important;
}

.bg-aliceblue {
  background-color: aliceblue;
}

// form-signin
.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.card {
  background-color:aliceblue;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-new {
  // background-color: #4d90fe; */
  // background-color: rgb(104, 145, 162);
  // background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  background-color: white;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bbb;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}

.btn-new-inspection{
  width: 2.2rem;
}

// home/index
.simple-calendar {
  tbody tr {
    height: 11rem;
  }
}

.calendar_item_undoing{
  background-color: lightblue;
}

.calendar_item_doing{
  background-color:lightsalmon;
}

.navbar {
  background: linear-gradient(to bottom,#F7F7F7 0%, lightblue 100%);
}

.navbar-brand {
  height: 4rem;
}

.coming-soon {
  border: 3px solid black;
}

img.ditails {
  width: 80%;
  border: 3px solid  lightblue;
  border-radius: 3%;
  margin: 5% 0;
}

img.new_check_ditails {
  width: 40%;
  border: 3px solid  lightblue;
  border-radius: 3%;
  margin: 5% 0;
}

.footer {
  background: linear-gradient(to top,#F7F7F7 0%, lightblue 100%);
}

.footer-cont {
  padding-top: 10%;
  padding-bottom: 1%;
}

.nav-link {
  color: rgba(0,0,0,.55) !important;
}

.inspection-checkbox {
  width: 20px;
  height: 20px;
}

.confirm-lead {
  font-size: 20px;
}

.main_container {
  background: radial-gradient(
    circle farthest-side at center,
    lightblue 5%,
    lightblue 20%,
    lightblue 100%);
}

.wl-50{
  width: 50%;
}

.border-dashed{
  border-top:2px dashed;
}

.nested-fields:first-of-type{
  border: none;
}

// PC画面での設定
@media (min-width: 992px) {
  .navbar-nav {
    align-items: center;
  }
  .fade-key-mini{
    display: none !important;
  }
  .display-oncolapse {
    display: none !important;
  }
  .display-noncolapse {
    display: flex !important;
  }
  .calendar_item_sm{
    display: none;
  }
}
// タブレット画面での設定
@media (max-width: 991px) {
  .navbar-nav {
    align-items: baseline;
  }
  .fade-key-lage {
    display: none !important;
  }
  .display-noncolapse {
    display: none !important;
  }
  .simple-calendar {
    tbody tr {
      height: 5rem;
    }
  }
  .calendar_item_undoing{
    display: none;
  }
  .calendar_item_doing{
    display: none;
  }
  .calendar_item_sm{
    display: block;
    span {
      font-size: 1rem;
      letter-spacing: -0.07em;
      a {
        padding-left: 0.2rem;
      }
    }
  }
  .navbar-brand {
    height: 2.5rem;
  }
  .confirm-lead {
    font-size: 1rem;
  }
  .wm-100{
    width: 100% !important;
  }
}
// スマホ画面での設定
@media (max-width: 500px) {
  table {
    font-size: 0.8rem;
  }
}
