// common_styles
* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #252525;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

p {
  font-size: 12px;
  color: #252525;
  font-weight: 400;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  color: #252525;
  margin-top: 0;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
}

a {
  color: #131313;
  text-decoration: none !important;
}

// form-signin
.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-new {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  width: 100%;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

// .btn-new:hover,
// .btn-new:active,
// .btn-new:focus {
//   background-color: rgb(12, 97, 33);
// }

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}

// nav new-inspection
.navbar-nav {
  align-items: center;
}

.btn-new-inspection{
  width: 2.2rem;
}

// home/index
.simple-calendar {
  tbody tr { 
    height: 11rem;
  }
}

.calendar_item{
  font-size: 10px;
  background-color: lightblue;
}

.calendar_item_sm{
  font-size: 10px;
  display: none;
}

@media (max-width: 900px) {
  .simple-calendar {
    tbody tr { 
      height: 5rem;
    }
  }

  .calendar_item{
    display: none;
  }

  .calendar_item_sm{
    display: block;
  }
}

@media (max-width: 500px) {
  .coming-soon {
    font-size: 0.2rem; 
  }
  .simple-calendar table{
    font-size: 0.2rem;
  }
}
.coming-soon {
  border: 3px solid black;
}

.show-items {
  
  border: 2px solid lightblue;
}