<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted me-5">© 2023 MS2 All rights reserved.</span>
    <span class="text-muted"><%= link_to "お問い合わせ", main_home_confirm_path %></span>
  </div>
</footer>