<footer class="footer py-3">
  <div class="container footer-cont">
    <span class="text-muted me-5">© 2023 MS2 All rights reserved.</span><br />
    <span class="text-muted me-5">Ver. <%= ENV['APPLICATION_VER'] %></span><br />
    <span class="text-muted"><%= link_to "お問い合わせ", main_home_confirm_path %></span>
  </div>
</footer>